$clr-red: hsl(0, 100%, 74%) ;
$clr-green: hsl(154, 59%, 51%);
$clr-blue-700: hsl(249, 10%, 26%) ;
$clr-blue-500: hsl(248, 32%, 49%);
$clr-blue-300: hsl(246, 25%, 77%);

$fw-light: 400;
$fw-normal: 500;
$fw-bold: 600;
$fw-xbold: 700;

$ff-primary: 'Poppins', 'sans-serif';