@use 'variables' as v;
@use '../util/functions' as f;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

img, source {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    padding: 2rem 1rem;

    background-color: v.$clr-cream;
    font-family: v.$ff-primary;
    font-weight: v.$fw-normal;
    font-size: f.rem(14);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: v.$ff-secundary;
}